.header {
    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20%;
        margin-top: 5px;

        &--item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 33%;
        }

        &--icon {
            padding-right: 5px;
        }

        &--text {
            font-family: Poppins;
            font-size: 12px;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: center;

            &--grey {
                color: #9f9f9f;
            }

            &--pink {
                color: #f71963;
            }
        }
    }

    &__middle {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100px;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        margin: 10px 120px;

        &--logo {
            cursor: pointer;
        }

        &--search-bar-wrapper {
            position: relative;
        }

        &--search-bar {
            width: 632px;
            height: 48px;
            border-radius: 10px;
            background: #f6f5f2;
            padding-left: 25px;
            border-color: transparent;
            position: relative;
        }

        &--search-bar-icon {
            position: absolute;
            top: 12px;
            left: 615px;
            cursor: pointer;
        }

        &--icons-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 260px;

            &--icon {
                cursor: pointer;
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 120px;

        &--category {
            font-family: Poppins;
            font-size: 12px;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: center;
            color: #9f9f9f;
            text-transform: uppercase;
            position: relative;

            &-icon{
                position: absolute;
                left: -25px;
                top: -1px;
            }

            &:hover{
                color: #f71963;
                cursor: pointer;
                transition-duration: 350ms;
            }
        }
    }
}
