.header {
    &__info-text {
        font-family: Poppins;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
    }

    &__info-text-grey {
        color: #9F9F9F;
    }

    &__info-text-pink {
        color: #F71963;
    }
}
