.home {
    &__main-banner {
        margin: 10px 0;
        position: relative;

        &--banner {
            width: 100%;
            position: relative;

            &:after {
                display: block;
                position: absolute;
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0.8;
            }
        }

        &--overlay-text {
            &--title {
                font-size: 48px;
                font-family: Poppins, "sans-serif";
                font-weight: 600;
                line-height: 72px;
                letter-spacing: 0em;
                text-align: left;
                color: white;
                position: absolute;
                top: 65px;
                left: 120px;
                max-width: 500px;
            }

            &--sub-title {
                font-size: 36px;
                font-family: Poppins, "sans-serif";
                font-weight: 600;
                line-height: 72px;
                letter-spacing: 0em;
                text-align: left;
                color: white;
                position: absolute;
                top: 250px;
                left: 120px;
            }
        }

        &--overlay-button {
            font-family: Poppins;
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
            letter-spacing: 0em;
            width: 227px;
            height: 60px;
            top: 429px;
            left: 87px;
            border-radius: 5px;
            background-color: #f71963;
            color: white;
            position: absolute;
            top: 400px;
            left: 120px;

            &:hover {
                cursor: pointer;
                background-color: white;
                color: #f71963;
                transition-duration: 350ms;
            }
        }
    }

    &__category-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 25px 200px;

        &--item {
            display: flex;
            align-items: center;
            flex-direction: column;

            &:hover {
                cursor: pointer;
            }
        }

        &--wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 128px;
            height: 128px;
            background-color: #f4f4f4;
            border-radius: 10px;
            box-shadow: 0px 2px 9px 0px #00000038;

            &.selected {
                background-color: #ffffff;
            }
        }

        &--item-text {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #4e4e4e;

            &.selected {
                color: #f71963;
            }
        }
    }

    &__related-products {
        &--title {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            letter-spacing: 0em;
            text-align: left;
            color: #f71963;
            position: relative;

            &:before {
                content: "";
                border: 1px solid #dedede;
                width: 360px;
                position: absolute;
                left: 20%;
            }

            &:after {
                content: "";
                border: 1px solid #dedede;
                width: 360px;
                position: absolute;
                right: 20%;
            }
        }

        &--category-selection {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 25px 200px;
        }

        &--category-title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            color: #bdbdbd;
            text-transform: uppercase;
            border: 1px solid #bdbdbd;
            width: 100%;

            &.selected {
                color: #f71963;
            }

            &:hover {
                color: #f71963;
                transition-duration: 350ms;
                cursor: pointer;
            }
        }

        &--see-all {
            font-family: Poppins;
            font-size: 15px;
            font-weight: 700;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: center;
            color: #3f3f40;
            cursor: pointer;
        }
    }

    &__product-carousel {
        margin: 0px 32px 60px 200px;

        .slick-arrow.slick-prev,
        .slick-arrow.slick-next {
            &:before {
                font-size: 34px;
            }
        }

        .slick-prev, .slick-next {
            font-size: 0;
            line-height: 0;
            position: absolute;
            top: 50%;
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            padding: 0;
            transform: translate(0, -50%);
            cursor: pointer;
            border: none;
            outline: none;
            background: black;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background: black;
            }
        }

        .slick-prev {
            left: -60px;
        }

        .slick-next {
            right: 120px;
        }

        .slick-list {
            max-width: 84vw;
        }

        &--product-card {
            display: flex !important;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            max-width: 270px;
            max-height: 500px;
            box-shadow: 0px 3px 19px 0px #00000038;
            padding: 15px;
            cursor: pointer;
        }

        &--product-name {
            font-family: Poppins;
            font-size: 15px;
            font-weight: 300;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
            color: #3f3f3f;
        }

        &--product-price {
            font-family: Poppins;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            color: #3f3f3f;
        }

        &--free-shipping {
            font-family: Poppins;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            color: #f71963;
        }

        &--buy-button {
            width: 245px;
            height: 44px;
            top: 440px;
            left: 11px;
            border-radius: 4px;
            border-color: transparent;
            background-color: #f71963;
            color: #fff;
            cursor: pointer;
            text-transform: uppercase;
        }
    }

    &__partners {
        &--wrapper {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        &--image {
            cursor: pointer;
        }
    }

    &__related-product-images {
        display: flex;
        align-items: center;
        justify-content: space-around;

        &--image {
            cursor: pointer;
        }
    }

    &__modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        justify-content: center;
        align-items: center;

        &--content {
            background-color: #fff;
            max-width: 80%;
            height: 300px;
            width: 768px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            position: absolute;
            right: 25%;
            top: 25%;
        }

        &--product-name {
            font-family: Lato;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #041e50;
            margin-bottom: 15px;
        }

        &--product-description {
            font-family: Lato;
            font-size: 10px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #222222;
            margin-bottom: 15px;
        }

        &--product-price {
            font-family: Lato;
            font-size: 20px;
            font-weight: 900;
            line-height: 20px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #041e50;
            margin-bottom: 15px;
        }

        &--product-details {
            font-family: Lato;
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #041e50;
            margin-bottom: 15px;

            &:hover {
                cursor: pointer;
                font-weight: 500;
            }
        }

        &--counter {
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: 1px solid #041e50;
            border-radius: 4px;
            width: 110px;
            height: 36px;
            font-size: 24px;
            color: #041e50;
            margin-bottom: 15px;

            &--text {
                cursor: pointer;
            }
        }

        &--close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            background: none;
            border: none;
            font-size: 40px;
        }

        &--product-image {
            max-width: 100%;
            height: 100%;
            float: left;
        }

        &--buy {
            width: 245px;
            height: 44px;
            border-radius: 4px;
            background-color: #f71963;
            border: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                color: #f71963;
                background-color: #fff;
                transition-duration: 350ms;
                border: 1px solid #f71963;
            }
        }
    }

    &__brand-carousel {
        margin: 0px 32px 60px 200px;

        img {
            cursor: pointer;
        }

        .slick-arrow.slick-prev,
        .slick-arrow.slick-next {
            &:before {
                font-size: 34px;
            }
        }

        .slick-prev,
        .slick-next {
            display: none !important;
        }

        .slick-list {
            max-width: 84vw;
        }

        &--title {
            font-family: Poppins;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            letter-spacing: 0em;
            text-align: center;
            color: #f71963;
        }

        &--button {
            cursor: pointer;
            color: #0080bf;
            width: 56px;
            height: 56px;
            font-size: 40px;
            position: absolute;
            background: white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 4px;
            top: 36%;
            right: 10%;
            box-shadow: 0px 4px 10px 0px #0000002e;
        }
    }
}
