.home {
    &__main-banner {
        margin: 10px 0;
        position: relative;

        &--banner {
            width: 100%;
            position: relative;

            &:after {
                display: block;
                position: absolute;
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0.8;
            }
        }

        &--overlay-text {
            &--title {
                font-size: 48px;
                font-family: Poppins, "sans-serif";
                font-weight: 600;
                line-height: 72px;
                letter-spacing: 0em;
                text-align: left;
                color: white;
                position: absolute;
                top: 65px;
                left: 120px;
                max-width: 500px;
            }

            &--sub-title {
                font-size: 36px;
                font-family: Poppins, "sans-serif";
                font-weight: 600;
                line-height: 72px;
                letter-spacing: 0em;
                text-align: left;
                color: white;
                position: absolute;
                top: 250px;
                left: 120px;
            }
        }

        &--overlay-button {
            font-family: Poppins;
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
            letter-spacing: 0em;
            width: 227px;
            height: 60px;
            top: 429px;
            left: 87px;
            border-radius: 5px;
            background-color: #f71963;
            color: white;
            position: absolute;
            top: 400px;
            left: 120px;

            &:hover {
                cursor: pointer;
                background-color: white;
                color: #f71963;
                transition-duration: 350ms;
            }
        }
    }

    &__category-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 25px 200px;

        &--item {
            display: flex;
            align-items: center;
            flex-direction: column;

            &:hover {
                cursor: pointer;
            }
        }

        &--wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 128px;
            height: 128px;
            background-color: #f4f4f4;
            border-radius: 10px;
            box-shadow: 0px 2px 9px 0px #00000038;

            &.selected {
                background-color: #ffffff;
            }
        }

        &--item-text {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #4e4e4e;

            &.selected {
                color: #f71963;
            }
        }
    }

    &__related-products {
        &--title {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Poppins;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            letter-spacing: 0em;
            text-align: left;
            color: #f71963;
            position: relative;

            &:before {
                content: "";
                border: 1px solid #dedede;
                width: 360px;
                position: absolute;
                left: 20%;
            }

            &:after {
                content: "";
                border: 1px solid #dedede;
                width: 360px;
                position: absolute;
                right: 20%;
            }
        }

        &--category-selection {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 25px 200px;
        }

        &--category-title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            color: #bdbdbd;
            text-transform: uppercase;
            border: 1px solid #bdbdbd;
            width: 100%;

            &.selected {
                color: #f71963;
            }

            &:hover {
                color: #f71963;
                transition-duration: 350ms;
                cursor: pointer;
            }
        }
    }

    &__product-carousel {
        margin: 0px 32px 60px 200px;

        .slick-arrow.slick-prev,
        .slick-arrow.slick-next{
            &:before {
                font-size: 34px;
            }
        }

        .slick-prev{
            left: -60px;
        }

        .slick-next{
            right: 120px;
        }

        .slick-list {
            max-width: 84vw;
        }

        &--product-card {
            display: flex !important;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            max-width: 270px;
            max-height: 500px;
            box-shadow: 0px 3px 19px 0px #00000038;
            padding: 15px;
        }

        &--product-name {
            font-family: Poppins;
            font-size: 15px;
            font-weight: 300;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
            color: #3f3f3f;
        }

        &--product-price {
            font-family: Poppins;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            color: #3f3f3f;
        }

        &--free-shipping {
            font-family: Poppins;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            color: #f71963;
        }

        &--buy-button {
            width: 245px;
            height: 44px;
            top: 440px;
            left: 11px;
            border-radius: 4px;
            border-color: transparent;
            background-color: #f71963;
            color: #FFF;
            cursor: pointer;
            text-transform: uppercase;
        }
    }

    &__partners {
       &--wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
       }
       &--image {
        cursor: pointer;
       } 
    }
}
